cx-Freeze==5.1.1
dnspython==1.15.0
eventlet==0.24.1
future==0.16.0
gast==0.2.0
greenlet==0.4.14
grpcio==1.14.1
numpy==1.15.1
psycopg2-binary==2.7.5
py3dns==3.1.0
PyInstaller==3.3.1
pyusb==1.0.2
requests==2.9.1
tensorflow==1.10.0
